<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ssy.share.admin.mapper.UserMapper">

    <select id="getUserPage" resultType="top.ssy.share.admin.model.vo.UserInfoVO">
        SELECT tu.* FROM t_user tu
        WHERE tu.delete_flag = 0
        <if test="query.nickname != null and query.nickname != ''  ">
            AND tu.nickname LIKE concat('%',#{query.nickname},'%')
        </if>
        <if test="query.phone != null and query.phone != ''  ">
            AND tu.phone = #{query.phone}
        </if>
        <if test="query.gender != null">
            AND tu.gender = #{query.gender}
        </if>
        ORDER BY tu.create_time DESC
    </select>

</mapper>